body {
  margin: 0;
  text-align: center;
  background-color: aliceblue;
}
h1{
    color: #f94f6d;
    text-shadow: 0.5px 1.5px 0 rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.575);
    align-self: center;
    padding-block: 10px;
    padding-inline: 20px;
    border: none;
    border-radius: 20px;
}
.scoreHome,
.scoreGuest {
  background: #0a0001;
  font-size: 90px;
  color: #f94f6d;
  width: 120px;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b244a;
  padding: 20px 0;
}

button {
  background: none;
  color: #9aabd8;
  border-color: #9aabd8;
}
@media screen and (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    width: 700px;;
  }
}

@media screen and (min-width: 598px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    max-width: 700px;
  }
}
